@model CodeAndComedy.Website.Models.ViewModels.TextInImagesViewModel
@{
    ViewBag.Title = "Text in Images";
}

<div class="row">
    <div class="col col-lg-8 col-lg-push-2 text-center">
        <h1>Extract text from your images</h1>
        <p>&nbsp;</p>
        <h2></h2>
    </div>
</div>
<div class="row">

    <div class="col col-lg-6">
        <canvas id="canvasHolder" style="position: absolute; z-index: 100;"></canvas>
        <img src="@Model.ImageUrl" id="imageHolder" class="img-responsive" />
        <script type="text/javascript">
            var factor = InitCanvas('imageHolder','canvasHolder');
        </script>
    </div>

    <div class="col col-lg-6">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">SDK</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">JSON</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <table class="table table-bordered">
                    @foreach (var region in Model.Result.Regions)
                    {
                        <script>
                            DrawRectangleSmall('canvasHolder', @region.Rectangle.Top, @region.Rectangle.Left,
                                @region.Rectangle.Width,
                                @region.Rectangle.Height,
                                factor);
                        </script>

                        foreach (var line in region.Lines)
                        {

                            <script>
                                DrawRectangleSmall('canvasHolder', @line.Rectangle.Top, @line.Rectangle.Left,
                                    @line.Rectangle.Width,
                                    @line.Rectangle.Height,
                                    factor);
                            </script>


                            <tr>
                                <td>Line:</td>
                                <td>
                                    @foreach (var word in line.Words)
                                    {
                                        @word.Text
                                        <span> </span>
                                        <script>
                                            DrawRectangleSmaller('canvasHolder', @word.Rectangle.Top,
                                                @word.Rectangle.Left,
                                                @word.Rectangle.Width,
                                                @word.Rectangle.Height,
                                                factor);
                                        </script>
                                    }

                                </td>
                            </tr>
                        }


                    }
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="profile">
                <pre id="jsonCodeT">@Html.Raw(Model.JSONResult)</pre>
            </div>
        </div>



           
        <script>
            $('#myTabs a').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
            });
        </script>

        <script>
            var jsonPretty = JSON.stringify(JSON.parse(document.getElementById('jsonCodeT').innerHTML ), null, 2);
            document.getElementById('jsonCodeT').innerHTML = jsonPretty;
        </script>
    </div>


</div>

 